@{
    ViewData["Title"] = "Graph";
    var labels = ViewBag.Labels as List<GraphWithLabels.Models.Label>;
    var edges = ViewBag.Edges as List<(GraphWithLabels.Models.Vertex, GraphWithLabels.Models.Vertex)>;
    var svgWidth = ViewBag.SvgWidth;
    var svgHeight = ViewBag.SvgHeight;
}
@using System.Web

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        #graph-container {
            border: 1px solid black;
            width: 1300px;
            height: 500px;
            overflow: auto;
            position: relative;
        }

        #doc-area {
            position: absolute;
            visibility: hidden;
            display: inline-block;
            background: white;
            border: 1px solid black;
            border-radius: 3px;
            padding: 5px;
            direction: rtl; 
            text-align: right;
            font-size: 15px;
        }

        .vertex {
            cursor: pointer;
            stroke: black;
            stroke-width: 1;
            r: 20;
            transition: all 0.3s ease;
        }

        .vertex:hover {
            r: 25;
            fill: #009999;
            stroke-width: 1;
            filter: drop-shadow(0px 0px 5px #666);
        }

        .vertex-text {
            pointer-events: none;
        }

        .edge {
            stroke: black;
            stroke-width: 1;
        }

        .label {
            font-size: 16px;
            fill: #007BFF; 
            stroke: #0056b3; 
            stroke-width: 1px; 
            paint-order: stroke; 
            stroke-linejoin: round; 
        }

        .zoom-controls {
            position: absolute;
            bottom: 70px;
            right: 10px;
            background: white;
            border: 1px solid black;
            border-radius: 3px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .zoom-controls button {
            margin: 2px 0;
            padding: 5px;
            background: #bacbe6;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            font-size: 14px;
            transition: background 0.3s ease;
        }

        .zoom-controls button:hover {
            background: #97a6bd;
        }
    </style>
</head>
<body>
    <h2>Status of Product Realization</h2>

    <div id="graph-container">
        <svg width="@svgWidth" height="@svgHeight" id="graph" viewBox="0 0 @svgWidth @svgHeight">
            <defs>
                <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="10" refY="3.5" orient="auto">
                    <polygon points="0 0, 10 3.5, 0 7" />
                </marker>
            </defs>

            @foreach (var label in labels)
            {
                var labelX = 60 + label.index * 150;
                var labelY = 20;

                @Html.Raw($"<text x='{labelX}' y='{labelY}' class='label' text-anchor='middle'>{label.name}</text>")

                // setting vertical space between vertices in a label
                // if you want to change it remember to change drawing edge part too
                int vertexSpacing = (svgHeight-50) / (label.vertices.Count + 1);
                for (int i = 0; i < label.vertices.Count; i++)
                {
                    var cy = vertexSpacing * (i + 1) + 50;
                    var vertex = label.vertices[i];
                    string color = "black";

                    // setting vertex color
                    if (vertex.doc_percent == 0)
                    {
                        color = "#cc0066";
                    }
                    else if (vertex.doc_percent > 0 && vertex.doc_percent < 100)
                    {
                        color = "#ffcc00";
                    }
                    else if (vertex.doc_percent == 100)
                    {
                        color = "#00cc00";
                    }

                    // setting doc message to show when mouse goes on a vertex
                    string tooltipContent = "";
                    foreach (var doc in vertex.prepared_docTypes)// prepared docs
                    {
                        tooltipContent += $"<span style='color:green;'>{HttpUtility.JavaScriptStringEncode(doc.Name)}&nbsp&nbsp&nbsp{doc.precent}% </span><br>";
                    }
                    foreach (var doc in vertex.unprepared_docTypes)// unprepared docs
                    {
                        tooltipContent += $"<span style='color:red;'>{HttpUtility.JavaScriptStringEncode(doc.Name)}&nbsp&nbsp&nbsp{doc.precent}% </span><br>";
                    }
                    int n_docs = vertex.prepared_docTypes.Count + vertex.unprepared_docTypes.Count;
                    if(n_docs == 0)
                    {
                        tooltipContent = "بدون سند";
                    }
                    
                    // draw vertex with prepared informations
                    @Html.Raw($"<circle cx='{labelX}' cy='{cy}' class='vertex' data-label='{label.index}' data-vertex='{vertex.vertexIndex}' fill='{color}' " +
                             $"onmouseover=\"showTooltip(event, '{HttpUtility.JavaScriptStringEncode(tooltipContent)}')\"" +
                             $"onmouseout=\"hideTooltip()\" onmousemove =\"updateTooltip(event)\"/>")
                    @Html.Raw($"<text x='{labelX}' y='{cy - 35}' class='vertex-text' fill='black' font-size='10' text-anchor='middle' dy='.3em'>{vertex.vertexName}</text>")
                    if (vertex.doc_percent != 100 && vertex.doc_percent != 0)
                        @Html.Raw($"<text x='{labelX}' y='{cy}' class='vertex-text' fill='black' font-size='18' text-anchor='middle' dy='.3em'>{vertex.doc_percent}%</text>")
                }
            }

            
            @foreach (var edge in edges)
            {// now all of the vertices are drawn, and we start to draw edges
                var startX = 60 + edge.Item1.labelIndex * 150 + 27;
                var startY = +50 + (svgHeight-50) / (labels[edge.Item1.labelIndex].vertices.Count + 1) * (edge.Item1.vertexIndex + 1);
                var endX = 60 + edge.Item2.labelIndex * 150 - 27;
                var endY = +50 + (svgHeight-50) / (labels[edge.Item2.labelIndex].vertices.Count + 1) * (edge.Item2.vertexIndex + 1);

                @Html.Raw($"<line x1='{startX}' y1='{startY}' x2='{endX}' y2='{endY}' class='edge' marker-end='url(#arrowhead)' />")
            }
        </svg>
    </div>
    <div id="doc-area"></div>

    <!-- zoom button area -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="zoom-controls">
        <button onclick="zoomIn()">
            <i class="fa fa-search-plus" style="font-size:36px"></i>
        </button>
        <button onclick="zoomOut()">
            <i class="fa fa-search-minus" style="font-size:36px"></i>
        </button>
    </div>

    <script>
        const graphContainer = document.getElementById('graph-container');
        const svg = document.getElementById('graph');
        let scale = 1;

        function zoomIn() {
            scale += 0.1;
            updateTransform();
        }

        function zoomOut() {
            if (@svgWidth * scale > 1300 || @svgHeight * scale > 500) {
                scale -= 0.1;
                updateTransform();
            }
        }

        function updateTransform() {

            // Update the size of the SVG to enable more extensive scrolling
            svg.style.width = `${@svgWidth * scale}px`;
            svg.style.height = `${@svgHeight * scale}px`;
            
            // Update the scroll positions to keep the graph centered
            //graphContainer.scrollLeft = (svg.clientWidth - graphContainer.clientWidth) ;
            //graphContainer.scrollTop = (svg.clientHeight - graphContainer.clientHeight);
        }
        function showTooltip(evt, content) {
            const tooltip = document.getElementById('doc-area');
            tooltip.innerHTML = content;
            updateTooltip(evt);
            tooltip.style.visibility = "visible";
        }

        function updateTooltip(evt) {
            const tooltip = document.getElementById('doc-area');
            tooltip.style.left = (evt.pageX + 10) + 'px';
            tooltip.style.top = (evt.pageY + 10) + 'px';

        }

        function hideTooltip() {
            const tooltip = document.getElementById('doc-area');
            tooltip.innerHTML = "";
            tooltip.style.visibility = "hidden";
        }

    </script>
</body>
</html>
